@import url('/css/variables.css');
@import url('/css/reset.css');
@import url('/css/layout.css');
@import url('/css/form.css');
@import url('/css/buttons.css');
@import url('/css/search.css');
@import url('/css/table.css');

aside {
  border-left: 0.5rem solid var(--light);
  padding: 0 1rem;
}

code {
  display: inline-block;
  background: var(--darker);
}

aside :first-child {
  margin-top: 0;
}

aside :last-child {
  margin-bottom: 0;
}

.error {
  border: 1px solid;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  background: var(--warning);
}

